{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
    NPU Green Library
{% endblock%}

{% block breadcrumbs%}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>กิจกรรม</h2>
            <!--
            <ol>
            <li><a href="{% url 'index2' %}/">หน้าหลัก</a></li>
            <li>ผลการดำเนินงาน</li>
            </ol>
            -->
        </div>

        </div>
    </section><!-- End Breadcrumbs -->

{% endblock%}

{% block content %}
<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/210567-1.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/210567-2.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/210567-3.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/210567-4.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>DIY ไอเดีย REUSE</h3>
              <ul>
                <li><strong>หมวด</strong>: กิจกรรม </li>
                <li><strong>กลุ่มเป้าหมาย</strong>: บุคลากรและผู้ใช้บริการ</li>
                <li><strong>วันที่ </strong>: 21 พฤษภาคม 22567</li>
                <li><strong>เวลา </strong>: 13.00 - 16.00 น.</li>
                <li><strong>สถานที่</strong>: ห้องวารสารชั้น 1</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                ♻️ สำนักวิทยบริการจัดกิจกรรม DIY <br>
                📌 วันอังคารที่ 21 พฤษภาคม 2567 เวลา 13.00 น.<br> 
                🌿 บุคลากรสำนักวิทยบริการและนักศึกษาเข้าร่วมกิจกรรม DIY ไอเดีย Reuse จากขวดน้ำพลาสติก ที่เหลือใช้สามารถนำกลับมาใช้ประโยชน์ได้โดยทำเป็นกระถางต้นไม้และนำดอกไม้ที่ชอบมาประดับ ทำให้เกิดความสวยงาม และช่วยลดปริมาณขยะ ณ ห้องวารสาร ชั้น 1 .
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}