{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
    NPU Green Library
{% endblock%}

{% block breadcrumbs%}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>กิจกรรม</h2>
            <!--
            <ol>
            <li><a href="{% url 'index2' %}/">หน้าหลัก</a></li>
            <li>ผลการดำเนินงาน</li>
            </ol>
            -->
        </div>

        </div>
    </section><!-- End Breadcrumbs -->

{% endblock%}

{% block content %}
<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/150367-1.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/150367-2.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/150367-3.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/150367-4.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{% static 'frontend/assets/img/blogs/150367-5.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>ศึกษาดูงานและแลกเปลี่ยนเรียนรู้</h3>
              <ul>
                <li><strong>หมวด</strong>: กิจกรรม </li>
                <li><strong>กลุ่มเป้าหมาย</strong>: บุคลากรภายในสำนักฯและเครือข่าย</li>
                <li><strong>วันที่ </strong>: 15 มีนาคม 2567</li>
                <li><strong>เวลา </strong>: 08.30 - 16.30 น.</li>
                <li><strong>สถานที่</strong>: สำนักวิทยบริการและเทคโนโลยีสารสนเทศ มหาวิทยาลัยราชภัฏเพชรบุรี</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <!-- <h2> ศึกษาดูงานและแลกเปลี่ยนเรียนรู้</h2> -->
              <p>
                📌วันศุกร์ที่ 15 มีนาคม 2567 เวลา 8:30 - 16:30 น. สำนักวิทยบริการ เข้าศึกษาดูงานและแลกเปลี่ยนเรียนรู้ เรื่องการบริการดิจิทัล (Digital Service) และการบริหารงานห้องสมุดสีเขียว (Green Library) และสำนักงานสีเขียว (Green Office) กับ สำนักวิทยบริการและเทคโนโลยีสารสนเทศ มหาวิทยาลัยราชภัฏเพชรบุรี  โดยได้รับการต้อนรับจาก อาจารย์ปิยวรรณ คุสินธุ์ ผู้อำนวยการ พร้อมด้วยคณะผู้บริหารและบุคลากร โดยมีการแนะนำบริการสารสนเทศและแนะนำกิจกรรมการดำเนินงานห้องสมุดสีเขียว (Green Library) และสำนักงานสีเขียว (Green Office) โดยได้แบ่งบุคลากรเป็นกลุ่มตามที่รับผิดชอบของแต่ละหมวดได้ชักถามประเด็นต่างๆ ในการดำเนินกิจกรรมในแต่ละหมวดการตรวจประเมินห้องสมุดสีเขียว (Green Library) และสำนักงานสีเขียว (Green Office) 
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}